/* ----CEMIL---- */
.OurTeam-Titre h1{
    font-size: 3.0em;
    align-content: center;
    text-align: center;
}
.OurTeam-Titre #bord{
    border-bottom: 3px solid #9B0604;
}
.OurTeam{
    text-align: justify;
}
.OurTeam h2{
    background-color: #990100;
    font-size: 1.0em;
    color: white;
    text-align: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.OurTeam img{
    border-radius: 50%;
    max-width: 100px;
}


@media all and (max-width: 600px)
{
    .OurTeam{
        display: block;
        font-size: 1.0em;
    }
}
@media all and (min-width: 601px){
    .OurTeam{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.9em;
        color: #A0A0A0;
    }
    .OurTeam .OurTeam-Top{
        flex-basis: 30%;
        display: flex;
        margin-left: 16%;
        margin-right: 2%;
        padding: 1%;
    }
    .OurTeam .OurTeam-Bottom {
        flex-basis: 30%;
        display: flex;
        margin-left: 2%;
        margin-right: 16%;
        padding: 1%;
    }
    .OurTeam-text{
        flex-direction: column;
        padding-left: 5px;
    }
}
/* ----CEMIL---- */