/*Body*/
body 
{
    margin: 0;
}

/*Background*/
img.background {
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter:brightness(20%);
  }
  

/* Navigation */

nav ul {
    margin-top:0;
    list-style-type: none;
    display: flex;
    margin-left: 1100px;
    padding:15px;
}

nav li {
    margin-left: 20px;
    margin-top: 10px;
}

nav a {
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}



nav a:hover
{
    color: rgb(175,1,1);
    border-bottom: 3px solid rgb(175,1,1);
}
/*Logo*/
.logo
{
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;

    
}









