body {
    font-family: 'Comfortaa', cursive;
}

h2 {
    display: inline-block;
    font-size: 3.0em;
}

h2::after {
    content: '';
    display: block;
    height: 3px;
    width: 80%;
    background-color: #9A0000;
    margin: 15px auto;
}

/* Abdellilah */
/*Header*/
img.background {
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: -1;
    filter: brightness(20%);
}

/*Logo*/
.logo {
    display: block;
    width: auto;
    margin-left: 40%;
    margin-top: 6%;
}

/* Navigation */
nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 12%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-top: 2%;
    margin-right: 2px;
    padding: 15px;
}

nav a {
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: rgb(175, 1, 1);
}

/* Abdellilah */

/* PART II - JOELLE*/

/* Texte encadré sur photo + photo*/
.firstpartbody {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

@media only screen and (min-width: 1400px) {
    .titre1 {
        margin-left: 15%;
    }

    .firstpartbody {
        padding-top: 20%;
    }

    .para2 {
        padding-left: 18%;
        padding-right: 18%;
    }

    .loremCarte {
        font-size: small;
    }
}

@media only screen and (max-width: 1399px) {
    .titre1 {
        margin-left: 10%;
    }

    .firstpartbody {
        padding-top: 15%;
    }

    .para2 {
        padding-left: 13%;
        padding-right: 13%;
    }

    .loremCarte {
        font-size: 8px;
    }
}

.titre1 {
    position: absolute;
    border: solid white;
    background-color: #9A0000;
    color: white;
    width: 170px;
    margin-top: 2%;
    padding-left: 5px;
    font-size: 15px;
}

.partie1 {
    display: flex;
    justify-content: center;
}

.texte1 {
    padding-left: 3%;
    flex-basis: 45%;
    padding-top: 3%;
}

.para1 {
    color: rgb(170, 163, 163);
    padding-top: 12%;
    text-align: justify;
}

.para2 {
    color: rgb(170, 163, 163);
    text-align: justify;
    display: flex;
    justify-content: center;


}


/* PART II - JOELLE */


/* ----CEMIL---- */
.ourTeam-Titre {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
}

.ourTeam h3 {
    background-color: #990100;
    font-size: 1.0em;
    color: white;
    text-align: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ourTeam img {
    border-radius: 50%;
    max-width: 100px;
}

.ourTeam {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    color: #A0A0A0;
    justify-content: center;
    text-align: justify;
}

.ourTeam .ourTeam-Top {
    flex-basis: 35%;
    display: flex;
    padding: 1%;
}

.ourTeam .ourTeam-Bottom {
    flex-basis: 35%;
    display: flex;
    padding: 1%;
}

.ourTeam-text {
    flex-direction: column;
    padding-left: 5px;
}


/* CEMIL */


/*SIMON PARTIE*/
.titreOurEvents {
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titreSoulignéRouge {
    margin-left: 50px;
    line-height: 32px;
}

.tableauCartes {
    max-width: 60%;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
}

.titreCards {
    background-color: #9A0000;
    color: whitesmoke;
}

.texteBleu {
    text-align: center;
    color: lightskyblue;
}

.carte {
    max-width: 25%;
    margin: 5%;
    border: rgb(216, 214, 214) 2px solid;
    text-align: center;
    box-shadow: 0px 5px rgb(185, 188, 190);
}

.lien {
    color: black;
}

.lien:hover {
    text-decoration: none;
    color: #9A0000;
}

.loremCarte {
    color: lightslategrey;
    padding: 20px;
}

h4 {
    padding: 5px;
}

.titreNeedEvents {
    margin-left: 30%;
}

.needEvents {
    margin-top: 8%;
}

.ligneDeTexte {
    border: solid 2px rgb(194, 24, 24);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.lignesDeTexte {
    margin-top: 70px;
    margin-left: 35%;
}

.nomPrenom {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.nom {
    margin-right: 50px;
}

.description {
    margin-top: 30px;
}

.boutonSend {
    background-color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    margin-left: 44%;
    border: #9A0000 2px solid;
    color: #9A0000;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.boutonSend:hover {
    background-color: #9A0000;
    color: white;
}

/* Simon */

/*Footer*/
footer {
    margin: 0;
    background-image: url('./assets/swirl_pattern.png');
    height: 230px;
    background-position: bottom;
}


#titre_footer {
    text-align: center;
    padding-top: 40px;
}

/*font awsome*/
.icon{
    display: flex;
    justify-content: center;
}
footer ul {
    display: flex;
    margin-top: 60px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    padding-top: 15px;
}

footer ul li a :hover {
    transform: translate(0, -10px);
    text-decoration: none;
}

footer ul li .fa {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-right: 60px;
}

footer ul li:nth-child(1) a .fab {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgb(10, 102, 194);
    color: white;
    margin-right: 60px;
}


footer ul li:nth-child(2) a .fa {
    background-color: rgb(104, 44, 4);
}

footer ul li:nth-child(3) a .fa {
    background-color: rgb(28, 156, 234);
}

footer ul li:nth-child(4) a .fa {
    background-color: rgb(64, 100, 172);
}

i {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}